<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.png">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Zubair || API Server || Developer</title>
  </head>
  <body class="df main">
    <div class="nav-bar">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="http://localhost:3000/download/hospital" class="link">Dock</a>
        </li>
        <li class="nav-item">
          <a href="https://zubairbhuian.onrender.com/download/hospital" class="link">Dock</a>
        </li>
        <li class="nav-item">
          <a href="#" class="link">Dock</a>
        </li>
        <li class="nav-item">
          <a href="#" class="link">Dock</a>
        </li>
      </ul>
    </div>
    <div class="my-api-service">
        <ul class="api-list">
            <li><a href="https://zubairbhuian.onrender.com/apps/hospital/download">Hospital App Download</a></li>
            <li><a href="https://zubairbhuian.onrender.com//apps/todoapp/download">Todo App Download</a></li>
            <li><a href="https://zubairbhuian.onrender.com/">Food App Download</a></li>
           
        </ul>
    </div>
    <div class="my-api-service copy-api">
        <ul class="api-list">

            <div class="hear">
                <h3>Get Methode</h3>
                <div class="copy-btn copyed">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                      </svg>
                </div>
            </div>
            <div class="dis">
                This is demo text
            </div>
            <p class="copy-path">Demo</p>
        </ul>
    </div>
  </body>
</html>
